{% load static %}
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb"/>
  </div>
  <div class="col-md-12">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <img src="{% static 'images/c-logo-light.svg' %}"/>
      <a class="navbar-brand" href="#">Concept To Clinic</a>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item {% if active_tab == 'open-image' %}active{% endif %}">
            <a class="nav-link" href="{% url 'static:open-image' %}">Open image</a>
          </li>
          <li class="nav-item {% if active_tab == 'detect-and-select' %}active{% endif %}">
            <a class="nav-link" href="{% url 'static:detect-and-select' %}">Detect and Select</a>
          </li>
          <li class="nav-item {% if active_tab == 'annotate-and-segment' %}active{% endif %}">
            <a class="nav-link" href="{% url 'static:annotate-and-segment' %}">Annotate and Segment</a>
          </li>
          <li class="nav-item {% if active_tab == 'report-and-export' %}active{% endif %}">
            <a class="nav-link" href="{% url 'static:report-and-export' %}">Report and Export</a>
          </li>
        </ul>
        <ul class="nav navbar-nav mx-auto justify-content-end">
          <li class="nav-item">
            <a class="nav-link">Version: {{ settings.APP_VERSION_NUMBER }}</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>
