prediction/src/algorithms/identify/assets/ filter=lfs diff=lfs merge=lfs -text
prediction/src/algorithms/classify/assets/ filter=lfs diff=lfs merge=lfs -text
prediction/src/algorithms/segment/assets/ filter=lfs diff=lfs merge=lfs -text
*.dcm filter=lfs diff=lfs merge=lfs -text
prediction/src/algorithms/classify/assets/* filter=lfs diff=lfs merge=lfs -text
test/assets/* filter=lfs diff=lfs merge=lfs -text
