div#version {
  position: absolute;
  color: white;
  top: .5rem;
  right: 1rem;
  z-index: 10000;
}

div.container {
  width: 100%;
}

input[type=range] {
  width: 100%;
  background: transparent;
}
