{% extends 'base.html' %}
{% load static %}

{% block tabs %}
{{ block.super }}
{% include "shared/tabs.html" with active_tab='detect-and-select' %}
{% endblock %}

{% block content %}
{{ block.super }}
<div id="app">
  <div class="row">
    <div class="col-md-4">
      <template v-if="candidates.length">
        <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card" v-for="(candidate, index) in candidates">
          <div class="card-header" role="tab" :id="'heading_' + index">
            <p class="mb-0">
              <a :class="index != 0 ? 'collapsed' : null"
                 data-toggle="collapse"
                 data-parent="#accordion" :href="'#collapse_' + index"
                 :aria-controls="'collapse_' + index" :aria-expanded="index==0 ? 'true' : 'false'">
                {% verbatim %}
                <b>Candidate {{ index + 1 }}</b> (p={{ candidate.probability_concerning }})
                {% endverbatim %}
              </a>
            </p>
          </div>

          <div :id="'collapse_' + index" :class="index == 0 ? 'collapse show' : 'collapse'" role="tabpanel" :aria-labelledby="'heading_' + index">
            <div class="card-block">
              <table>
                <tbody>
                  <tr>
                    <td>lidc_max_sensitiv:</td>
                    <td>TBI</td>
                  </tr>
                  <tr>
                    <td>convnet_vgg:</td>
                    <td>TBI</td>
                  </tr>
                  <tr>
                    <td>convnett_vgg_lidc:</td>
                    <td>TBI</td>
                  </tr>
                </tbody>
              </table><br>
              Centroid (predicted):<br>
              <table style="margin-left:10px">
                <tbody>
                  <tr>
                    <td>Slice:</td>
                    <td>TBI</td>
                  </tr>
                  <tr>
                    <td>X:</td>
                    {% verbatim %}
                    <td>{{ candidate.centroid.x }}</td>
                    {% endverbatim %}
                  </tr>
                  <tr>
                    <td>Y:</td>
                    {% verbatim %}
                    <td>{{ candidate.centroid.y }}</td>
                    {% endverbatim %}
                  </tr>
                </tbody>
              </table>
              {% verbatim %}
              <a href="#" @click="dismiss(candidate)">
                <button type="button" class="btn btn-sm btn-secondary">Dismiss</button>
              </a>
              <a href="#" @click="mark(candidate)">
                <button type="button" class="btn btn-sm btn-danger">Mark concerning</button>
              </a>
              {% endverbatim %}
            </div>
          </div>
        </div>
      </div>
      </template>
      <template v-else>
        <p class="card-text">No candidates available.</p>
      </template>
    </div>
    <div class="col-md-8"></div>
  </div>
</div>

<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/vue-resource.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script>
  Vue.use(VueResource);

  new Vue({

    el: '#app',

    data: {
      candidates: [],
    },

    created: function() {
      this.fetchCandidates()
    },

    methods: {
      fetchCandidates: function() {
        var vm = this;
        this.$http.get("{% url 'candidate-list' %}").then(
          function(response) {
            this.candidates = response.body;
          },
          function() {
            // error callback
          });
      },
      mark: function(candidate) {
        this.$http.get(candidate.url + "mark").then(
          function(response) {
          console.log(response);
          },
          function() {
            // error callback
          });
      },
      dismiss: function(candidate) {
        this.$http.get(candidate.url + "dismiss").then(
          function(response) {
          console.log(response);
          },
          function() {
            // error callback
          });
      }
    }
  })

</script>
{% endblock %}

