{% extends 'base.html' %}
{% load static %}

{% block tabs %}
{{ block.super }}
{% include "shared/tabs.html" with active_tab='report_and_export' %}
{% endblock %}

{% block content %}
<div id="app">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Placeholder for Report and Export</h3>
          <p class="card-text">Placeholder for Report and Export</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
