worker_processes 2;
daemon off;
error_log /dev/stdout info;

events {
  worker_connections  1024;
}

http {
    access_log /dev/stdout;
    include    /app/mime.types;
    server {
        listen   80;
        server_name  $NGINX_HOST;

        location / {
            root /app/dist;
            autoindex on;
        }

        location /api {
            proxy_pass $NGINX_API_URL;
            proxy_pass_request_headers on;
        }
    }
}
